/* 共通部分 */
.inner-wrap {
  width: 980px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  position: relative;
}

.page-header ul {
  display: flex;
  margin: 31px 213px 0 30px;
}

.page-header li:not(:last-child) {
  margin-right: 20px;
}

.page-header a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  line-height: 1.1875;
}

.page-header a:hover {
  color: lightgrey;
}

.header-logo {
  margin: 20px;
  margin-left: 193px;
}

.page-header h2 {
  font-size: 36px;
  line-height: 0.82;
  color: #FFFFFF;
  text-align: center;
}

.page-header p {
  font-size: 16px;
  line-height: 1.1875;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.page-header {
  background: url(../images/austin-distel-wawEfYdpkag-unsplash.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 551px; 
}

.page-header_content {
  margin-top: 254px;
  font-weight: bold;
}

.page-header_content br {
  display: none;
}

/* セクション */
.section-ttl {
  margin-top: 60px;
  margin-bottom: 41px;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
}

section .content {
  display: flex;
}

.content_item {
  margin-right: 25px;
  height: 336px;
  position: relative;
}

.content_item_txt  {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  margin-left: 20px;
}

.content_item p {
  font-size: 16px;
  line-height: 1.125;
  font-weight: normal;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#challenge button {
  font-size: 18px;
  line-height: 1.28;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 88px;
  width: 310px;
  height: 52px;
  border: 1px #eeeeee solid;
  border-radius: 5px;
  background-color: #fff;
  color: #333333;
  padding: 0;
}

#challenge button, 
.content_item {
  box-shadow: 0px 3px 6px #00000029 ;
}

#challenge button:hover, 
.content_item:hover {
  box-shadow: none;
  cursor: pointer;
}

#challenge button:hover {
  background-color: #00000029;
  opacity: .6;
}

.content_item:hover {
  background: #00000029;
  opacity: 0.6;
}

#continue .section-ttl {
  color: #fff;
  text-align: center;
  margin: 0 0 47px;
  padding-top: 59px;
  font-size: 36px;
  line-height: 1.22;
}

#continue p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.75;
  color: #fff;
}

#continue {
  background: url(../images/tim-bogdanov-4uojMEdcwI8-unsplash.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 455px;
}

#continue button {
  display: block;
  color: #fff;
  background: #83032A;
  padding: 0;
  margin: 0 auto 44px;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 16px;
  line-height: 1.1875;
  width: 210px;
  height: 54px;
  border-radius: 5px;
  border-style: none;
}

#continue button:hover {
  background: #5c031d;
  box-shadow: none;
  cursor: pointer;
  color: rgb(238, 235, 235);
}

/* フッター */
footer {
  height: 80px;
  background: #333333;
}

footer p {
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.21;
  padding-top: 32px;
}

/* モバイル対応 */
@media (max-width: 768px) {
  /* ヘッダー */
  .page-header_content {
    font-size: 28px;
  }

  #challenge.content {
    flex-direction: column;
  }
}

